[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/home/ubuntu/dbus-demo/code/dbus-1.12.16/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
