[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/home/ubuntu/dbus-demo/code/dbus-1.12.16/test/test-shell-service -test "that" 'we get' back --what "we put in"

